<div class="d-flex align-items-center flex-column">
  <div class="text-center content-titles mb-5">
    <h1 class="fw-bold mb-2 custom-title">Certificados Gerados</h1>
    <p class="mb-4 custom-p">Vizualize todos os Certificados Gerados</p>
  </div>
  <div class="custom-card w-100">
    <h2 class="card-title mb-3">
      Novo Certificado
    </h2>
    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input type="text" class="form-control" placeholder="Nome do Aluno">
    </div>
    <div class="mb-3 d-flex align-items-end">
      <div class="flex-grow-1 me-2">
        <label class="form-label">Atividade</label>
        <input type="text" class="form-control" placeholder="Atividade Exercida">
      </div>
      <app-secundary-button></app-secundary-button>
    </div>
    <div class="atividade-group"> 
      <label class="form-label">Lista de Atividades</label>
      <div class="custom-card w-100">

      </div>
    </div>
    <app-primary-botton></app-primary-botton>
  </div>
</div>