<form #form="ngForm" novalidate class="d-flex align-items-center flex-column">

  <div class="text-center content-titles mb-5">
    <h1 class="fw-bold mb-2 custom-title">Geração de Certificados</h1>
    <p class="mb-4 custom-p">Preencha os dados para gerar um novo Certificado</p>
  </div>

  <div class="custom-card w-100">
    <h2 class="card-title mb-3">
      Novo Certificado
    </h2>

    <div class="mb-3 custom-input-group">

      <label [ngClass]="{'text-danger': campoInvalido(nomeInput)}" for="nome" class="form-label">Nome</label>
      <input [(ngModel)]="certificado.nome" name="nome" #nomeInput="ngModel" maxlength="150" required id="nome" type="text" class="form-control custom-input" placeholder="Nome do Aluno" >

      @if (campoInvalido(nomeInput)) {
        <div class="error-message d-flex align-items-center">
          <i class="ph ph-warning-circle"></i>
          <p class="m-0">O nome do aluno é obrigatório</p>
        </div>
      }
    </div>

    <div class="mb-3 d-flex align-items-end custom-input-group">
      <div class="flex-grow-1 me-2">

        <label for="atividade" class="form-label">Atividade</label>
        <input [(ngModel)]="atividade" name="atividade" #atividadeInput="ngModel" required maxlength="50" id="atividade" type="text" class="form-control custom-input" placeholder="Atividade Exercida">

        <!-- @if (campoInvalido(atividadeInput)) {
          <div class="error-message d-flex align-items-center">
            <i class="ph ph-warning-circle"></i>
            <p class="m-0">A atividade é obrigatória</p>
          </div>
        } -->

      </div>

      <app-secundary-button 
        (click)="adicionarAtividade()"
        [disabled]="!atividade || atividade.length == 0"
        textButton="Adicionar Atividade"
        phclass="ph ph-plus"
        >
      </app-secundary-button>
      
    </div>

    <div class="atividade-group"> 
      <label class="form-label">Lista de Atividades</label>
      <div class="item-list w-100">
        @for (item of certificado.atividades; track $index) {
          <div class="item">
            <span class="item-text">{{ item }}</span>
            <div (click)="removerAtividade($index)" class="remove-btn">
              <i class="ph-bold ph-x"></i>
            </div>
          </div>
          @if ($index + 1 != certificado.atividades.length) {
            <hr>
          }
        }
      </div>
      
    </div>
    <app-primary-botton
      (click)="submit()"
      [disabled]="!formValido()"
      text="Gerar Certificado"
      >
    </app-primary-botton>
  </div>
</form>