.custom-button {
  height: 40px;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  color: white ;
  background: #1A2856;
  cursor: pointer;
  gap: 8px;

  a {
    text-decoration: none; 
    color: white;
  }

  i {
    font-size: 20px;
  }
}

.custom-button:hover{
  opacity: 90%;
}