<div class="d-flex flex-column align-items-center">
  <div class="d-flex justify-content-between align-items-center menu-certificado w-100">
      <div class="d-flex align-items-center btn-voltar">
          <i class="ph ph-arrow-left"></i>
          <p class="m-0">Voltar</p>
      </div>
    <app-secundary-button></app-secundary-button>
  </div>
  <div class="certificado d-flex justify-content-center align-items-center">
    <img class="icon-medal" src="assets/images/certificate_ribbon.png" alt="icone medalha">
    <div class="conteudo-certificado">

    </div>
  </div>
</div>